@media (min-width: 576px) {
  h1 {
    color: green;
    left: 15%;
    font-size: 2.3rem;
  }

  header p {
    top: 47%;
    left: 15%;
    font-size: 1.1rem;
  }

  #nav a:link,
  #nav a:active {
    margin-top: 1.2rem;
    font-size: 0.7rem;
  }

  .card {
    width: 20%;
  }

  .card-header img {
    width: 80%
  }

  .card-title {
    font-size: 0.6rem;
  }

  .form-container {
    width: 70%;
  }

  textarea {
    width: 94%;
  }

}

/*    // Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  h1 {
    color: blue;
    left: 20%;
    font-size: 2.8rem;
  }

  header p {
    top: 48%;
    left: 20%;
    font-size: 1.3rem
  }

  #nav a:link,
  #nav a:active {
    margin-top: 1.2rem;
    font-size: 0.7rem;
  }

  .card {
    width: 20%;
  }

  .card-header img {
    width: 90%
  }

  .card-title {
    font-size: 0.6rem;
  }


}

/*    // Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  h1 {
    color: yellow;
    left: 25%;
    font-size: 3.0rem;
  }

  header p {
    top: 50%;
    left: 25%;
    font-size: 1.4rem;
  }

  #nav a:link,
  #nav a:active {
    font-size: 0.8rem;
  }

  .card {
    width: 15%;
  }

  .card-header img {
    width: 70%
  }

  .card-title {
    font-size: 0.8rem;
  }

  textarea {
    width: 95%;
  }
}

/*    // Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1 {
    color: red;
    left: 25%;
    font-size: 3.8rem;
  }

  header p {
    top: 52%;
    left: 25%;
    font-size: 1.7rem;
  }

  #nav a:link,
  #nav a:active {
    font-size: 0.9rem;
  }

  .card {
    width: 15%;
  }

  .card-header img {
    width: 80%
  }

  .card-title {
    font-size: 0.8rem;
  }

  textarea {
    width: 96%;
  }

}
